
:host {
    display: flex;
    justify-content: center;
    margin: 10rem; 
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  /* ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
   }
  
   ::ng-deep .mat-form-field-underline {
    background-color: white !important;
  } 
  
  ::ng-deep .mat-form-field-ripple {
   background-color: white !important;;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white !important;
  }
  
  ::ng-deep .mat-form-field-label{
    color:white !important;
}
 */
