<mat-grid-list cols="4" rowHeight="2:1" gutterSize="15px">
  <mat-grid-tile>
    <mat-icon class="icon-display">add_circle</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header class="cardtitle">Isi</mat-grid-tile-header>
    <i class="cardtext">Buen cliente para venderle un poquito de pulpo</i>
    <!-- <mat-grid-tile-footer>2</mat-grid-tile-footer> -->
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
</mat-grid-list>